.main-text {
    background-color:skyblue;
    margin-top: 20px;
    margin-bottom: 30px;
   
  }
  
  body {
    background-color: skyblue;
    font-family: 'PT Sans Caption', sans-serif;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    justify-content: space-between;
    display: flex;
  }
  
  .devour-btn, 
  #submit-burger {
    background-color: orange;
    border-color: skyblue;
    
  }
  
  .devour-btn:hover, 
  #submit-burger:hover {
    background-color: orange;
    border-color: skyblue;
   
  }
  
  form {
    margin-top: 20px;
    margin-bottom: 50px;
   
  }
  
  #input-label {
    font-size: 24px;
    
  }
